@import 'normilize.css';

*{
	box-sizing: border-box;
}

body { 
	font-family:	'Montserrat', sans-serif;
}

.button {
	height: 45px;
	width: 200px;
	background: #4985FF;
	border-radius: 20px;
	text-align: center;
	line-height: 2.5em;
	box-shadow: 0px 3px 4px black;
	color: #fff;
}


.section-inner {
	width: 1110px;
	margin: 0 auto;
}

/* First-screen */

.section-first-screen {
	height: 100vh;
	color: #fff;
	background: url('../images/background-first-screen.png') no-repeat 50% 50%;
	background-size: cover;
}
/* Navigation */
.section-first-screen .navigation {
	border-bottom: 1px solid rgba(161,161,161,.25);
}

.section-first-screen .navigation nav ul {
	display: flex;
	height: 80px;
	list-style: none;
	padding: 0;
	justify-content: flex-end;
	align-items: center;
}

.section-first-screen .navigation nav ul a {
	color: #ffffff;
	margin-left: 25px;
	text-decoration: none;
	padding: 30px 5px;
	
}

.section-first-screen .navigation nav ul a:hover {
	border-bottom: 1px solid #fff;
}

/* / Navigation */

/* Content first-screen */

.section-first-screen .content {
	margin: 0 auto;
	width: 55%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.section-first-screen .content h1 {
	text-align: center;
}

/* / Content first-screen */

/* / First-screen */

/* Services */
.section-services .section-inner{
	height: 80vh;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.section-services .section-inner .text {
	width: 55%;
	text-align: center;
}

.section-services .section-inner .text p {
	color: #ccc;
	margin-top: 50px;
}

.section-services .services-wrap {
	display: flex;
	width: 90%;
	justify-content: space-between;

}

.section-services .services-wrap article {
	width: 250px;
	position: relative;
}

.section-services .services-wrap article::before {
	content: ' ';
	background: url('/images/icon-create-site.svg') no-repeat 50% 50%;
	position: absolute;
	left: -100px;
	top: -5px;
	height: 40px;
	width: 40px;
	padding: 17px;
	border: 1px solid #4985F4;
	border-radius: 50%;
}

.section-services .services-wrap article p {
	color: #ccc;
}

/* /Services */
